<div class="ion-page" main>
  <ion-content>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-menu side="start">
        <ion-header>
          <ion-toolbar translucent>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item>
              <ion-icon name="home" slot="start"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="person" slot="start"></ion-icon>
              <ion-label>Profile</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="chatbubbles" slot="start"></ion-icon>
              <ion-label>Messages</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="settings" slot="start"></ion-icon>
              <ion-label>Settings</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
     
    <ion-content fullscreen>
      <ion-card>
        <img src="./assets/img/img-1.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Diego Gonzalez</ion-card-subtitle>
          <ion-card-title>Diseño - Web</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon class="doble_chulo" name="done-all"></ion-icon><strong>Responsive design:</strong> o diseño adaptable, es la técnica que asegura una correcta visualización y experiencia del usuario en cualquier dispositivo, navegador y tamaño de pantalla.<br>
          <ion-icon class="doble_chulo" name="done-all"></ion-icon><strong>Ha de ser accesible:</strong> cualquier usuario, independientemente de sus limitaciones (por discapacidades, o por usar equipos deficientes)  debe poder acceder correctamente a la información.<br>
          <ion-icon class="doble_chulo" name="done-all"></ion-icon><strong> Ha de ser usable:</strong> debe ofrecer una navegación intuitiva, clara, limpia, carecer de barreras, así como cargarse rápidamente.<br>
          <ion-icon class="doble_chulo" name="done-all"></ion-icon><strong>Ha de tener intención:</strong> debe dirigir al usuario hacia la consecución de nuestros objetivos (rellenar un formulario, descargarse cierto contenido, suscribirse al newsletter, etc.)<br>
        </ion-card-content>
      </ion-card>
    </ion-content>
</ion-content>

